@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}


body{
    background-image: url("/img/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.app{
    border-radius: 10px;;
    height: 500px;
    width: 1000px;
    margin-top: 75px;
    grid-column: 2;
    color: black;
    align-content: center;
    
}
.miasto{
    display: grid;
    grid-gap: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.single-city{
    display: grid;
    background:rgba(0, 0, 0, 0.7);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5 1fr);
    width: 200px;
    height: 300px;
    border-radius: 15px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.37);
    
}
.city-name{
    font-size: 25px;
    grid-row: 1;
    grid-column: 1/ span 2;
    size: 25;
    text-align: center;
    color: white;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    margin-top: 100px;   
    border-radius: 10px;
    
}
.desc{
    grid-row: 2;
    grid-column: 1 /span 2;
    font-size: 15px;
}
.temp{
    grid-column: 1 /span 2;
    grid-row: 4;
    font-size: 40px;
    
}
.pressure{
    font-size: 14px;
    grid-column: 2;
    grid-row: 5;
}
.icon{
    grid-column: 1 /span 2;
    width: 200px;
    height: 50px;
    text-align: center;;
    align-items: center;
    justify-content: center;
}
.pressure-icon{

    grid-column: 1;
    grid-row: 5;
    width: 100px;
    height: 50px;
}
.humidity{
    font-size: 14px;
    grid-row: 6;
    grid-column: 2;
}
.humidity-icon{
    grid-column: 1;
    grid-row: 6;
    width: 100px;
    height: 50px;
}
.del{
    grid-row: 1;
    grid-column: 2;
    align-self: right;
    right: 0;
}
.search-icon{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.search-icon:hover path{
    fill: #fff;
}

input[type=text]{
    border: none;
    background-color: inherit;
    width: 400px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    color: rgb(44, 41, 41);

}
input:focus{
    outline: none;
}